# Node
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment variables
.env
Backend/.env
Frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.firebase/
firebase-debug.log